<!DOCTYPE html>
<html lang="en">

<head>

  {% include "head_part.html" %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "sidebar_part.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            {% include "topbar_part.html" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Новая подписка</h1>

                        <div class="col-lg-6">
                            <form method="post">
                            <div style="display: flex; flex-direction: column; margin: 1em">

                                <div class="form-group row">
                                        <label for="lastname" class="col-sm-2 col-form-label">Фамилия</label>
                                        <input type="text" class="form-control form-control-user col-sm-8" id="lastname"
                                               name="lastname"
                                               value="{{ subs.last_name }}"
                                               readonly
                                            placeholder="Фамилия водителя">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="firstname"
                                               name="firstname"
                                               value="{{ subs.first_name }}"
                                               contenteditable="false"
                                            placeholder="Имя водителя">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="iin"
                                               name="iin"
                                               value="{{ subs.iin }}"
                                               contenteditable="false"
                                            placeholder="ИИН">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="license_plate"
                                               name="license_plate"
                                               value="{{ subs.license_plate }}"
                                               contenteditable="false"
                                            placeholder="Госномер">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="phone"
                                           name="phone"
                                           value="{{ subs.phone }}"
                                               contenteditable="false"
                                        placeholder="Номер телефона">
                                    </div>
                                </div>

                                <div class="form-group row">
                                        <label for="amount" class="col-sm-2 col-form-label">Сумма</label>
                                        <input type="text" class="form-control form-control-user col-sm-8" id="amount"
                                               value="2000 тенге"
                                               readonly>
                                </div>

                                <p>Вы покупаете подписку: которая длыво длвы олдыво лдо выдловы двыдлыввы</p>
                                <p>Покупая подписку, вы соглашаетесь на условия, описанные в данном документе: <a>Соглашение</a></p>


                                <button type="submit" style="max-width: 20em" class="btn btn-success">Перейти к оплате</button>

                            </div>

                            </form>

                        </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

          {% include "footer_part.html" %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include "modals_and_scripts_part.html" %}


</body>

</html>